:root {
  --duo1: #f94a37;
  --duo2: #c5eeca;
  --home1: rgb(50, 50, 70);
  --home2: rgb(220, 220, 230);
}

@font-face {
  font-family: alagard;
  src: url(alagard.ttf);
}

@font-face {
  font-family: decal;
  src: url(in-my-garden.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: auto;
  min-height: auto;
  background-color: var(--duo1);
  color: var(--duo2);
  position: relative;
  cursor: none;
}

:hover {
  cursor: none;
}

h1 {
  font-family: alagard;
  font-size: 80px;
  position: relative;
}

a {
  text-decoration: none;
  color: var(--duo2);
}

.decal {
  font-family: decal;
}

#cursor {
  position: fixed;
  top: 0;
  left: 0;
  fill: white;
  transition: 0.2s ease-out;
  scale: 0.9;
  z-index: 1000;
  mix-blend-mode: difference;
}

.hoverable {
  transition: 0.4s ease-out;
  padding: 1.3% 2% 1.3% 2%;
  border-radius: 50%;
}

.hoverable:hover {
  transition: 0.4s ease-out;
  mix-blend-mode: difference;
}

#hroute {
  transition: 0.4s ease-out;
  padding: 1.3% 2% 1.3% 2%;
  border-radius: 50%;
}

#hroute:hover {
  transition: 0.4s ease-out;
  color: var(--home1);
  background-color: var(--home2);
}

#heading {
  position: sticky; top: 0px;
  background: var(--duo1);
  z-index: 2;
}

#cover {
  margin-left: 5%;
}
